# Naman Garg

# 9781784444

### Numpy, Pandas, and Prediction

## Name:

<div class="alert alert-danger" role="alert">
Note: You must print the output of each question in a new cell below your code. Homework submissions without outputs displayed will not be graded.
    </div>

## Numpy Review


__1a) Create two numpy arrays (`a` and `b`).__

* `a` should be all integers between 25-34 (inclusive)
* `b` should be ten evenly spaced numbers between 1-6. 


**Print all the results for 1-4 below and solve them consecutively:**


1. Cube (i.e. raise to the power of 3) all the elements in both arrays (element-wise)  
2. Add the cubed arrays `a^3 + b^3` (e.g., `[1,2] + [3,4] = [4,6]`)  
3. Sum the elements with even indices of the added array from `2.`  
4. Take the square root of the added array (element-wise square root)

In [20]:
import numpy as np
import pandas as pd

In [11]:
a = np.arange(25, 35)
b = np.linspace(1, 6, 10)
print(a)
print(b)

[25 26 27 28 29 30 31 32 33 34]
[1.         1.55555556 2.11111111 2.66666667 3.22222222 3.77777778
 4.33333333 4.88888889 5.44444444 6.        ]

In [15]:
# 1. your code here
print(np.power(a, 3))
print(np.power(b, 3))

[15625 17576 19683 21952 24389 27000 29791 32768 35937 39304]
[  1.           3.76406036   9.40877915  18.96296296  33.45541838
  53.91495199  81.37037037 116.85048011 161.38408779 216.        ]

In [19]:
# 2. your code here
c = np.add(np.power(a, 3), np.power(b, 3))
print(c)

[15626.         17579.76406036 19692.40877915 21970.96296296
 24422.45541838 27053.91495199 29872.37037037 32884.85048011
 36098.38408779 39520.        ]

In [24]:
# 3. your code here
d = np.sum(c[::2])
print(d)

125711.61865569273

In [26]:
# 4. your code here
print(np.sqrt(d))

354.5583430913631

__1b) Append `b` to `a`, reshape the appended array so that it is a 4x5 2d array. Store the results in a variable called `m`. Print `m`.__

In [30]:
# your code here
m = np.append(a, b).reshape(4, 5)
print(m)

[[25.         26.         27.         28.         29.        ]
 [30.         31.         32.         33.         34.        ]
 [ 1.          1.55555556  2.11111111  2.66666667  3.22222222]
 [ 3.77777778  4.33333333  4.88888889  5.44444444  6.        ]]

__1c) Extract the third and the fourth column of the `m` matrix. Store the resulting 4x2 matrix in a new variable called `m2`. Print `m2`.__

In [83]:
# your code here
m2 = m[:,(3, 4)]
print(m2)

[[28.         29.        ]
 [33.         34.        ]
 [ 2.66666667  3.22222222]
 [ 5.44444444  6.        ]]

__1d) Take the dot product of `m2` and `m` store the results in a matrix called `m3`. Print `m3`.
Note that Dot product of two matrices A.B =A<sup>T</sup>B__

In [40]:
# your code here
m3 = np.dot(np.transpose(m2), m)
print(m3)

[[1713.2345679  1778.74074074 1844.24691358 1909.75308642 1975.25925926]
 [1770.88888889 1839.01234568 1907.13580247 1975.25925926 2043.38271605]]

## Numpy conditions


__2a) Create a Numpy array called `f` containing the values of `cosine(x)` for x from 0 to $\pi$ in 50 equally spaced value increments__
* 1. Print `f`
* 2. Use condition mask and print an array that is `True` when `f >= 1/2` and `False` when `f < 1/2`
* 3. Create and print an array sequence that has only those values where `f>= 1/2`

In [95]:
# your code here
x = np.linspace(0, np.pi, 50)
f = np.cos(x)
print(f)
print(f>=1/2)
print(f<1/2)
print(f[np.where(f>=1/2)])

[ 1.          0.99794539  0.99179001  0.98155916  0.96729486  0.94905575
  0.92691676  0.90096887  0.8713187   0.8380881   0.80141362  0.76144596
  0.71834935  0.67230089  0.6234898   0.57211666  0.51839257  0.46253829
  0.40478334  0.34536505  0.28452759  0.22252093  0.1595999   0.09602303
  0.03205158 -0.03205158 -0.09602303 -0.1595999  -0.22252093 -0.28452759
 -0.34536505 -0.40478334 -0.46253829 -0.51839257 -0.57211666 -0.6234898
 -0.67230089 -0.71834935 -0.76144596 -0.80141362 -0.8380881  -0.8713187
 -0.90096887 -0.92691676 -0.94905575 -0.96729486 -0.98155916 -0.99179001
 -0.99794539 -1.        ]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False]
[False False False False False False False False False False False False
 False False False False False  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True]
[1.         0.99794539 0.99179001 0.98155916 0.96729486 0.94905575
 0.92691676 0.90096887 0.8713187  0.8380881  0.80141362 0.76144596
 0.71834935 0.67230089 0.6234898  0.57211666 0.51839257]

## NumPy and 2 Variable Prediction

__Let `x` be the number of miles a person drives per day and `y` be the dollars spent on buying car fuel (per day).__
  
We have created 2 numpy arrays each of size 100 that represent `x` and `y`.
* `x` ( number of miles) ranges from 1 to 10 with a uniform noise of (0,1/2)  
* `y` (money spent in dollars) will be from 1 to 20 with a uniform noise (0,1)

In [66]:
# seed the random number generator with a fixed value
import numpy as np
np.random.seed(500)

x = np.linspace(1,10,100)+ np.random.uniform(low=0,high=.5,size=100) 
y = np.linspace(1,20,100)+ np.random.uniform(low=0,high=1,size=100)
print('x = ',x)
print('y = ',y)

x =  [ 1.34683976  1.12176759  1.51512398  1.55233174  1.40619168  1.65075498
  1.79399331  1.80243817  1.89844195  2.00100023  2.3344038   2.22424872
  2.24914511  2.36268477  2.49808849  2.8212704   2.68452475  2.68229427
  3.09511169  2.95703884  3.09047742  3.2544361   3.41541904  3.40886375
  3.50672677  3.74960644  3.64861355  3.7721462   3.56368566  4.01092701
  4.15630694  4.06088549  4.02517179  4.25169402  4.15897504  4.26835333
  4.32520644  4.48563164  4.78490721  4.84614839  4.96698768  5.18754259
  5.29582013  5.32097781  5.0674106   5.47601124  5.46852704  5.64537452
  5.49642807  5.89755027  5.68548923  5.76276141  5.94613234  6.18135713
  5.96522091  6.0275473   6.54290191  6.4991329   6.74003765  6.81809807
  6.50611821  6.91538752  7.01250925  6.89905417  7.31314433  7.20472297
  7.1043621   7.48199528  7.58957227  7.61744354  7.6991707   7.85436822
  8.03510784  7.80787781  8.22410224  7.99366248  8.40581097  8.28913792
  8.45971515  8.54227144  8.6906456   8.61856507  8.83489887  8.66309658
  8.94837987  9.20890222  8.9614749   8.92608294  9.13231416  9.55889896
  9.61488451  9.54252979  9.42015491  9.90952569 10.00659591 10.02504265
 10.07330937  9.93489915 10.0892334  10.36509991]
y =  [ 1.6635012   2.0214592   2.10816052  2.26016496  1.96287558  2.9554635
  3.02881887  3.33565296  2.75465779  3.4250107   3.39670148  3.39377767
  3.78503343  4.38293049  4.32963586  4.03925039  4.73691868  4.30098399
  4.8416329   4.78175957  4.99765787  5.31746817  5.76844671  5.93723749
  5.72811642  6.70973615  6.68143367  6.57482731  7.17737603  7.54863252
  7.30221419  7.3202573   7.78023884  7.91133365  8.2765417   8.69203281
  8.78219865  8.45897546  8.89094715  8.81719921  8.87106971  9.66192562
  9.4020625   9.85990783  9.60359778 10.07386266 10.6957995  10.66721916
 11.18256285 10.57431836 11.46744716 10.94398916 11.26445259 12.09754828
 12.11988037 12.121557   12.17613693 12.43750193 13.00912372 12.86407194
 13.24640866 12.76120085 13.11723062 14.07841099 14.19821707 14.27289001
 14.30624942 14.63060835 14.2770918  15.0744923  14.45261619 15.11897313
 15.2378667  15.27203124 15.32491892 16.01095271 15.71250558 16.29488506
 16.70618934 16.56555394 16.42379457 17.18144744 17.13813976 17.69613625
 17.37763019 17.90942839 17.90343733 18.01951169 18.35727914 18.16841269
 18.61813748 18.66062754 18.81217983 19.44995194 19.7213867  19.71966726
 19.78961904 19.64385088 20.69719809 20.07974319]

__3a) Find Expected value of `x` and the Expected value of `y`__

In [72]:
# your code here
print(np.mean(x))
print(np.mean(y))

5.782532541587923
3448.018024406438

__3b) Find variance of `x` and `y`__

In [76]:
# your code here
print(np.var(x))
print(np.var(y))

7.03332752947585
42313284.502747804

__3c) Find covariance of `x` and `y`.__

In [79]:
# your code here
print(np.cov(x))
print(np.cov(y))

7.104371241894798
42740691.41691698

__3d) Assuming that number of dollars spent on car fuel is only dependent on the miles driven, by  a linear relationship.  
Write code that finds the model paramters `c` and `m` for a linear predictor to calculate a predicted value of `y` for each `x`
i.e $\hat{y}$=`y_predicted = f(x) = c+mx`. (Do not use Machine learning libraries, only native Numpy).__

Print `m` and `c`

In [1]:
# your code here
c= 0
m = 1
y1 = c+mx

__3e) Predict `y` for each value in `x`. Calculate the Squared Error (SE), ie $SE = \sum^{100}_1 (\hat{y}-y)^2$, store the squared errors in an array called `y_error`__

In [ ]:
# your code here

__3f) Write code that calculates the root mean square error(RMSE), that is the square root of the mean of `y_error`__

In [ ]:
# your code here

## Pandas Introduction

In order to complete some of these problems you might need to go over the Data-X Pandas notebook (depending on how much Pandas you've used).

You can find the Pandas notebook in the Github repository: [github.com/afo/data-x-plaksha](github.com/afo/data-x-plaksha) (look in the folder `02b-tools-pandas` for the notebook `pandas-intro-v8_short.ipynb`

##  Reading File

In [96]:
# Load required modules
import pandas as pd
import numpy as np

#### Read the CSV file called `'data3.csv'` into a dataframe called `df`. 
#### Data description
* File location: Attached along
* Data source: http://www.fao.org/nr/water/aquastat/data/query/index.html?*lang=en
* Data, units:
* GDP, current USD (CPI adjusted)
* NRI, mm/yr
* Population density, inhab/km^2
* Total area of the country, 1000 ha = 10km^2
* Total Population, unit 1000 inhabitants

In [170]:
# your code here
df = pd.read_csv("contest.csv")
df

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol
0,Argentina,9,Total area of the country,4100,1962,278040.0,E
1,Argentina,9,Total area of the country,4100,1967,278040.0,E
2,Argentina,9,Total area of the country,4100,1972,278040.0,E
3,Argentina,9,Total area of the country,4100,1977,278040.0,E
4,Argentina,9,Total area of the country,4100,1982,278040.0,E
...,...,...,...,...,...,...,...
385,United States of America,231,National Rainfall Index (NRI),4472,1981,949.2,E
386,United States of America,231,National Rainfall Index (NRI),4472,1984,974.6,E
387,United States of America,231,National Rainfall Index (NRI),4472,1992,1020.0,E
388,United States of America,231,National Rainfall Index (NRI),4472,1996,1005.0,E
389,United States of America,231,National Rainfall Index (NRI),4472,2002,938.7,E

#### 4a ) Display the first 10 rows of the dataframe

In [171]:
# your code here
df[:10]

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol
0,Argentina,9,Total area of the country,4100,1962,278040.0,E
1,Argentina,9,Total area of the country,4100,1967,278040.0,E
2,Argentina,9,Total area of the country,4100,1972,278040.0,E
3,Argentina,9,Total area of the country,4100,1977,278040.0,E
4,Argentina,9,Total area of the country,4100,1982,278040.0,E
5,Argentina,9,Total area of the country,4100,1987,278040.0,E
6,Argentina,9,Total area of the country,4100,1992,278040.0,E
7,Argentina,9,Total area of the country,4100,1997,278040.0,E
8,Argentina,9,Total area of the country,4100,2002,278040.0,E
9,Argentina,9,Total area of the country,4100,2007,278040.0,E

#### 4b) Display the column names.

In [172]:
# your code here
print(df.columns)

Index(['Area', 'Area Id', 'Variable Name', 'Variable Id', 'Year', 'Value',
       'Symbol'],
      dtype='object')

#### 4c) Use iloc to display the first 3 rows and first 4 columns.

In [173]:
# your code here
df.iloc[:3,:4]

        Area  Area Id              Variable Name  Variable Id
0  Argentina        9  Total area of the country         4100
1  Argentina        9  Total area of the country         4100
2  Argentina        9  Total area of the country         4100



## Data Preprocessing

#### 5a ) Find all the rows that  have 'NaN' in the 'Symbol' column. Display the first 5 rows of this result.

##### Hint : You might have to use a condition (mask)

In [175]:
# your code here
df[df['Symbol'].isnull()].head(5)

Empty DataFrame
Columns: [Area, Area Id, Variable Name, Variable Id, Year, Value, Symbol]
Index: []

#### 5b )  Now, we will try to get rid of the NaN valued rows and columns. 

1. First, drop the column 'Other' which only has 'NaN' values. 
2. Then drop all other rows that have any column with a value 'NaN'.  
3. Then display the last 5 rows of the dataframe.

In [176]:
# your code here
df[-5:]

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol
385,United States of America,231,National Rainfall Index (NRI),4472,1981,949.2,E
386,United States of America,231,National Rainfall Index (NRI),4472,1984,974.6,E
387,United States of America,231,National Rainfall Index (NRI),4472,1992,1020.0,E
388,United States of America,231,National Rainfall Index (NRI),4472,1996,1005.0,E
389,United States of America,231,National Rainfall Index (NRI),4472,2002,938.7,E




#### 6a) For our analysis we do not want all the columns in our dataframe. Lets  drop all the redundant columns/ features.   
**Drop columns**: **Area Id, Variable Id, Symbol**. Save the new dataframe as `df1`. 


Display the first 5 rows of the new dataframe.

In [177]:
# your code here
df1 = df.drop(['Area Id', 'Variable Id', 'Symbol'], axis=1)
df1[:5]

        Area              Variable Name  Year     Value
0  Argentina  Total area of the country  1962  278040.0
1  Argentina  Total area of the country  1967  278040.0
2  Argentina  Total area of the country  1972  278040.0
3  Argentina  Total area of the country  1977  278040.0
4  Argentina  Total area of the country  1982  278040.0

#### 6b) Find all unique values in your new dataframe for columns: 
1. Area
2. Variable Name
3. Year

In [178]:
# your code here
print(df1[('Area')].unique())
print(df1[('Variable Name')].unique())
print(df1[('Year')].unique())

['Argentina' 'Australia' 'Germany' 'Iceland' 'Ireland' 'Sweden'
 'United States of America']
['Total area of the country' 'Total population' 'Population density'
 'Gross Domestic Product (GDP)' 'National Rainfall Index (NRI)']
[1962 1967 1972 1977 1982 1987 1992 1997 2002 2007 2012 2014 2015 1963
 1970 1974 1978 1984 1990 1964 1981 1985 1996 2001 1969 1973 1979 1993
 1971 1975 1986 1991 1998 2000 1965 1983 1988 1995]

#### 6c) Convert the `Year` column to pandas datetime objects 

1. Convert the `Year` column float values to pandas datetime objects, where each year is represented as the first day of that year. Also display the column and datatype for `Year` after conversion.


For eg: `1962.0` will be represented as `1962-01-01`

In [182]:
df1['Year'] = pd.to_datetime(df1['Year'])
df1

,Area,Variable Name,Year,Value
0,Argentina,Total area of the country,1970-01-01 00:00:00.000001962,278040.0
1,Argentina,Total area of the country,1970-01-01 00:00:00.000001967,278040.0
2,Argentina,Total area of the country,1970-01-01 00:00:00.000001972,278040.0
3,Argentina,Total area of the country,1970-01-01 00:00:00.000001977,278040.0
4,Argentina,Total area of the country,1970-01-01 00:00:00.000001982,278040.0
...,...,...,...,...
385,United States of America,National Rainfall Index (NRI),1970-01-01 00:00:00.000001981,949.2
386,United States of America,National Rainfall Index (NRI),1970-01-01 00:00:00.000001984,974.6
387,United States of America,National Rainfall Index (NRI),1970-01-01 00:00:00.000001992,1020.0
388,United States of America,National Rainfall Index (NRI),1970-01-01 00:00:00.000001996,1005.0
389,United States of America,National Rainfall Index (NRI),1970-01-01 00:00:00.000002002,938.7

## Extract specific statistics from the preprocessed data:

#### 7a)  Create a dataframe `dftemp` to store rows where `Area` is `Iceland`.

Display the dataframe `dftemp`.

In [183]:
# your code here
dftemp = df.loc[df['Area'] == 'Iceland']
dftemp

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol
166,Iceland,99,Total area of the country,4100,1962,1.030000e+04,E
167,Iceland,99,Total area of the country,4100,1967,1.030000e+04,E
168,Iceland,99,Total area of the country,4100,1972,1.030000e+04,E
169,Iceland,99,Total area of the country,4100,1977,1.030000e+04,E
170,Iceland,99,Total area of the country,4100,1982,1.030000e+04,E
171,Iceland,99,Total area of the country,4100,1987,1.030000e+04,E
172,Iceland,99,Total area of the country,4100,1992,1.030000e+04,E
173,Iceland,99,Total area of the country,4100,1997,1.030000e+04,E
174,Iceland,99,Total area of the country,4100,2002,1.030000e+04,E
175,Iceland,99,Total area of the country,4100,2007,1.030000e+04,E
176,Iceland,99,Total area of the country,4100,2012,1.030000e+04,E
177,Iceland,99,Total area of the country,4100,2014,1.030000e+04,E
178,Iceland,99,Total population,4104,1962,1.826000e+02,E
179,Iceland,99,Total population,4104,1967,1.974000e+02,E
180,Iceland,99,Total population,4104,1972,2.099000e+02,E
181,Iceland,99,Total population,4104,1977,2.221000e+02,E
182,Iceland,99,Total population,4104,1982,2.331000e+02,E
183,Iceland,99,Total population,4104,1987,2.469000e+02,E
184,Iceland,99,Total population,4104,1992,2.599000e+02,E
185,Iceland,99,Total population,4104,1997,2.728000e+02,E
186,Iceland,99,Total population,4104,2002,2.869000e+02,E
187,Iceland,99,Total population,4104,2007,3.054000e+02,E
188,Iceland,99,Total population,4104,2012,3.234000e+02,E
189,Iceland,99,Total population,4104,2015,3.294000e+02,E
190,Iceland,99,Population density,4107,1962,1.773000e+00,E
191,Iceland,99,Population density,4107,1967,1.917000e+00,E
192,Iceland,99,Population density,4107,1972,2.038000e+00,E
193,Iceland,99,Population density,4107,1977,2.156000e+00,E
194,Iceland,99,Population density,4107,1982,2.263000e+00,E
195,Iceland,99,Population density,4107,1987,2.397000e+00,E
196,Iceland,99,Population density,4107,1992,2.523000e+00,E
197,Iceland,99,Population density,4107,1997,2.649000e+00,E
198,Iceland,99,Population density,4107,2002,2.785000e+00,E
199,Iceland,99,Population density,4107,2007,2.965000e+00,E
200,Iceland,99,Population density,4107,2012,3.140000e+00,E
201,Iceland,99,Population density,4107,2015,3.198000e+00,E
202,Iceland,99,Gross Domestic Product (GDP),4112,1962,2.849165e+08,E
203,Iceland,99,Gross Domestic Product (GDP),4112,1967,6.212260e+08,E
204,Iceland,99,Gross Domestic Product (GDP),4112,1972,8.465069e+08,E
205,Iceland,99,Gross Domestic Product (GDP),4112,1977,2.226539e+09,E
206,Iceland,99,Gross Domestic Product (GDP),4112,1982,3.232804e+09,E
207,Iceland,99,Gross Domestic Product (GDP),4112,1987,5.565384e+09,E
208,Iceland,99,Gross Domestic Product (GDP),4112,1992,7.138788e+09,E
209,Iceland,99,Gross Domestic Product (GDP),4112,1997,7.596126e+09,E
210,Iceland,99,Gross Domestic Product (GDP),4112,2002,9.161798e+09,E
211,Iceland,99,Gross Domestic Product (GDP),4112,2007,2.129384e+10,E
212,Iceland,99,Gross Domestic Product (GDP),4112,2012,1.419452e+10,E
213,Iceland,99,Gross Domestic Product (GDP),4112,2015,1.659849e+10,E
214,Iceland,99,National Rainfall Index (NRI),4472,1967,8.160000e+02,E
215,Iceland,99,National Rainfall Index (NRI),4472,1971,9.632000e+02,E
216,Iceland,99,National Rainfall Index (NRI),4472,1975,1.010000e+03,E
217,Iceland,99,National Rainfall Index (NRI),4472,1981,9.326000e+02,E
218,Iceland,99,National Rainfall Index (NRI),4472,1986,9.685000e+02,E
219,Iceland,99,National Rainfall Index (NRI),4472,1991,1.095000e+03,E
220,Iceland,99,National Rainfall Index (NRI),4472,1997,9.932000e+02,E
221,Iceland,99,National Rainfall Index (NRI),4472,1998,9.234000e+02,E

#### 7b) Print the years when the `National Rainfall Index (NRI)` was greater than 900 and less than 950 in Iceland. 

Use the dataframe you created in the previous question 7a), ie `dftemp`.

In [185]:
# your code here
dftemp = dftemp[dftemp['Value'] <950]
dftemp = dftemp[dftemp['Value'] >900]
dftemp

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol
217,Iceland,99,National Rainfall Index (NRI),4472,1981,932.6,E
221,Iceland,99,National Rainfall Index (NRI),4472,1998,923.4,E

## US statistics:

#### 8a) Create a new DataFrame called `df_usa` that only contains values where `Area` is equal to `United States of America`. 

Set the indices of `df_usa` to be the `Year` column with Pandas datetime values ( Use method `.set_index( )` ). Display the head of `df_usa`.

In [187]:
# your code here
df_usa = df.loc[df['Area'] == 'United States of America']
df_usa.set_index('Year', inplace=True)
df_usa

,Area,Area Id,Variable Name,Variable Id,Value,Symbol
Year,,,,,,
1962,United States of America,231,Total area of the country,4100,9.629090e+05,E
1967,United States of America,231,Total area of the country,4100,9.629090e+05,E
1972,United States of America,231,Total area of the country,4100,9.629090e+05,E
1977,United States of America,231,Total area of the country,4100,9.629090e+05,E
1982,United States of America,231,Total area of the country,4100,9.629090e+05,E
1987,United States of America,231,Total area of the country,4100,9.629090e+05,E
1992,United States of America,231,Total area of the country,4100,9.629090e+05,E
1997,United States of America,231,Total area of the country,4100,9.629090e+05,E
2002,United States of America,231,Total area of the country,4100,9.632030e+05,E
2007,United States of America,231,Total area of the country,4100,9.632030e+05,E
2012,United States of America,231,Total area of the country,4100,9.831510e+05,E
2014,United States of America,231,Total area of the country,4100,9.831510e+05,E
1962,United States of America,231,Total population,4104,1.918610e+05,E
1967,United States of America,231,Total population,4104,2.037130e+05,E
1972,United States of America,231,Total population,4104,2.132200e+05,E
1977,United States of America,231,Total population,4104,2.230910e+05,E
1982,United States of America,231,Total population,4104,2.339540e+05,E
1987,United States of America,231,Total population,4104,2.454250e+05,E
1992,United States of America,231,Total population,4104,2.579080e+05,E
1997,United States of America,231,Total population,4104,2.728830e+05,E
2002,United States of America,231,Total population,4104,2.884710e+05,E
2007,United States of America,231,Total population,4104,3.016560e+05,E
2012,United States of America,231,Total population,4104,3.147990e+05,E
2015,United States of America,231,Total population,4104,3.217740e+05,E
1962,United States of America,231,Population density,4107,1.993000e+01,E
1967,United States of America,231,Population density,4107,2.116000e+01,E
1972,United States of America,231,Population density,4107,2.214000e+01,E
1977,United States of America,231,Population density,4107,2.317000e+01,E
1982,United States of America,231,Population density,4107,2.430000e+01,E
1987,United States of America,231,Population density,4107,2.549000e+01,E
1992,United States of America,231,Population density,4107,2.678000e+01,E
1997,United States of America,231,Population density,4107,2.834000e+01,E
2002,United States of America,231,Population density,4107,2.995000e+01,E
2007,United States of America,231,Population density,4107,3.132000e+01,E
2012,United States of America,231,Population density,4107,3.202000e+01,E
2015,United States of America,231,Population density,4107,3.273000e+01,E
1962,United States of America,231,Gross Domestic Product (GDP),4112,6.050000e+11,E
1967,United States of America,231,Gross Domestic Product (GDP),4112,8.620000e+11,E
1972,United States of America,231,Gross Domestic Product (GDP),4112,1.280000e+12,E
1977,United States of America,231,Gross Domestic Product (GDP),4112,2.090000e+12,E
1982,United States of America,231,Gross Domestic Product (GDP),4112,3.340000e+12,E
1987,United States of America,231,Gross Domestic Product (GDP),4112,4.870000e+12,E
1992,United States of America,231,Gross Domestic Product (GDP),4112,6.540000e+12,E
1997,United States of America,231,Gross Domestic Product (GDP),4112,8.610000e+12,E
2002,United States of America,231,Gross Domestic Product (GDP),4112,1.100000e+13,E
2007,United States of America,231,Gross Domestic Product (GDP),4112,1.450000e+13,E
2012,United States of America,231,Gross Domestic Product (GDP),4112,1.620000e+13,E
2015,United States of America,231,Gross Domestic Product (GDP),4112,1.790000e+13,E
1965,United States of America,231,National Rainfall Index (NRI),4472,9.285000e+02,E
1969,United States of America,231,National Rainfall Index (NRI),4472,9.522000e+02,E
1974,United States of America,231,National Rainfall Index (NRI),4472,1.008000e+03,E
1981,United States of America,231,National Rainfall Index (NRI),4472,9.492000e+02,E
1984,United States of America,231,National Rainfall Index (NRI),4472,9.746000e+02,E
1992,United States of America,231,National Rainfall Index (NRI),4472,1.020000e+03,E
1996,United States of America,231,National Rainfall Index (NRI),4472,1.005000e+03,E
2002,United States of America,231,National Rainfall Index (NRI),4472,9.387000e+02,E


#### 8b) Pivot the DataFrame `df_usa` so that the unique values in the column `Variable Name` becomes the columns. 

The DataFrame values should be the ones in the the `Value` column. Save it as `df_usa` and display the updated dataframe head.

In [192]:
# your code here
pd.pivot_table(df_usa,columns=['Variable Name'])

Variable Name,Gross Domestic Product (GDP),National Rainfall Index (NRI),Population density,Total area of the country,Total population
Area Id,2.310000e+02,231.000,231.000000,231.000000,231.000000
Value,7.316417e+12,972.025,26.444167,966331.666667,255729.583333
Variable Id,4.112000e+03,4472.000,4107.000000,4100.000000,4104.000000

#### 8c) Rename the new columns to  `['GDP','NRI','PD','Area','Population']`, display the dataframe head.

In [ ]:
# your code here

#### 8d) Replace all 'Nan' values in `df_usa` with 0. Display the head of the dataframe.

In [ ]:
# your code here

## Note: Use `df_usa`

#### 9a) Multiply the `'Area'` column for all countries by 10 (so instead of 1000 ha, the unit becomes 100 ha = 1km^2). Display the dataframe head.

In [ ]:
# your code here


#### 9b) Create a new column in `df_usa` called `'GDP/capita'` and populate it with the calculated GDP per capita. Round the results to two decimal points. Display the dataframe head.
GDP per capita = (GDP / Population)

In [ ]:
# your code here


#### 9c) Find the maximum value of the `'NRI'` column in the US (using pandas methods). What year does the max value occur? Display the values.

In [ ]:
# your code here